.main-header{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    .AvatarContainer{
        margin: 8px;
    }
    svg{
        cursor: pointer;
        margin: 8px;
        height: 30px;
        width: auto;
    }
    .searched-productlist-container{
        position: absolute;
        top: 44px;
        left: 349px;
        background:bisque;
        display: flex;
        flex-direction: column;
        width: 600px;
        height: auto;
        .searched-product{
            cursor: pointer;
            border: 1px solid black;
            padding: 4px;
            
        }
    }
}


.icon-value{
    position: absolute;
    right: 170px;
    padding: 2px;
    background-color: red;
    border-radius: 50%;
}